@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&display=swap');


@font-face {
    font-family: 'Inter', 'Montserrat';

    src:
        url("Inter,Montserrat/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype"),
        url("Inter,Montserrat/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype"),
        url("Inter,Montserrat/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
        url("Inter,Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: #f4f4f4;

}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 20px;
}

header {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    background: rgb(144, 164, 132);
    color: #ffffff;
    flex-wrap: wrap;
    background-image: url(imagens/texturebackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 60%;
}

.cabecalho img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.cabecalho h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.cabecalho h2 {
    margin-top: 1rem;
    font-size: 1.7rem;

    color: #f4f4f4;

}

.cabecalho div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cabecalho a:hover {
    color: #dfe8d3;
    text-decoration: underline;
}


.bolder {
    font-weight: bold;
}

main {
    color: rgb(0, 0, 0);
}

.home-intro {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-top: 1rem;
}

.home-intro h2 {
    align-self: center;
    margin: 1rem 1rem 1rem 0.5rem;

    gap: 0.5rem;
    width: 50%;
    margin-bottom: 0.5rem;
}

.home-intro p {
    margin: 2rem 1rem;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    width: 50%;
}

.home-intro hr {
    width: 40%;
    color: black;

    font-weight: bold;
    align-self: center;
}

section ul {
    text-align: start;
    list-style-type: disc;

}

.home-container {
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

main li {
    text-align: center;
    margin: 2.2rem;
    text-decoration: none;

}

/*Quem sou eu*/
.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.main-wrapper a {
    margin: 1rem;
    font-size: 1.25rem;
    text-decoration: none;

}

.main-wrapper h2 {
    font-size: 2.5rem;
}

.main-wrapper a:hover {
    text-decoration: underline;
}

.subtitulo {
    font-size: 2.3rem;
}

.sobre {
    border-radius: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
    width: 50%;
    border-radius: 0.5rem;
}

.container ul,


.container li {
    font-size: 1.1rem;
    border-radius: 0.5rem;
    text-align: start;
}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 1.5rem;
    background-color: #8a9b7e;
    box-shadow: 0 2px 3px solid #5f7454;
}

.sobre .container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre h2.subtitulo {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;

}

.sobre ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.sobre li {
    color: #e8ffdb;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.3rem;
}



.subtitulo {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #5f7454;
    text-align: center;
}

.mosaico-imagens {
    width: 100%;
    display: flex;
    justify-content: center;

}

.galeria-mosaico {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
    grid-template-areas:
        'first-image first-image'
        'second-image third-image'
        'fourth-image third-image';
    justify-content: stretch;
    gap: 0.5rem;

}

.first-image {
    grid-area: first-image;
}

.first-image img {
    width: 100%;
}

.second-image {
    grid-area: second-image;

}

.second-image img {
    width: 100%;
}


.third-image {
    grid-area: third-image;

}

.third-image img {
    width: 100%;
    height: 100%;
}


.fourth-image {
    grid-area: fourth-image;
}

.fourth-image img {
    width: 100%;
}



.mosaico-imagens img {

    object-fit: cover;
    border-radius: 0.5rem;
}

.mosaico-imagens img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



/*Soluções*/

.servicos {
    background-color: rgb(136, 154, 123);
    width: 100%;
    padding: 1rem 2rem;
    gap: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos h2 {
    margin-top: 1.5rem;
    font-size: 2.3rem;
    text-align: center;
    color: white;
}

.consultoria {
    position: relative;
    height: 400px;

}

.cons-image {
    right: 17rem;
    position: relative;
}

.cons-image img {
    width: 1000px;
    height: 550px;
    display: block;
}

.cons-text {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8.5rem;
    left: 43rem;
    width: 30%;
    height: 70%;
    padding: 1.5rem;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cons-text h3 {
    color: #5f7454;
    font-size: 1.2rem;
    font-weight: bold;
}

.cons-text p {
    font-size: 1rem;
    color: #333;
}

.cons-text > div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #8a9b7e;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    width: fit-content;
}
/**/
.assessoria {
    position: relative;
    height: 400px;
    margin-top: 5rem;
}

.advi-image {
    left: 17rem;
    position: relative;
}

.advi-image img {
    width: 1000px;
    height: 550px;
    display: block;
}

.advi-text {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8.5rem;
    right: 43rem;
    width: 30%;
    height: 70%;
    padding: 1.5rem;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advi-text h3 {
    color: #5f7454;
    font-size: 1.2rem;
    font-weight: bold;
}

.advi-text p {
    font-size: 1rem;
    color: #333;
}

.advi-text > div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #8a9b7e;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    width: fit-content;
}
/**/

/* FOOTER */
.contato-info {
    padding: 1.25rem;
    background-color: rgb(144, 164, 132);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: auto;
    width: 100%;
    left: 0;
    bottom: 0;
}

.contato-info p,
.contato-info a {
    font-size: 0.7rem;
    margin: 16px 0;
    gap: 3rem;
    color: white;
}

.white {
    color: white;
}

.telefone,
.email,
.whatsapp,
.instagram,
.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contato-info img {
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
    filter: brightness(1) invert(1);
}

.instagram img {
    filter: brightness(1) invert(0);
}

.linkedin img {
    filter: brightness(1) invert(0);
}

.contato-info a {
    align-self: center;
    text-decoration: none;
    color: white;
}

.contato-info a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .cabecalho {
        width: 90%;
    }

    .home-intro h2,
    .home-intro p {
        width: 80%;
    }

    .container {
        width: 80%;
    }

    .galeria-mosaico {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-areas:
            'first-image'
            'second-image'
            'third-image'
            'fourth-image'
            'fifth-image'
            'sixth-image';
    }

    .juncaomosaico,
    .juncao-mosaico {
        justify-content: center;
    }
}


@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    .cabecalho h1 {
        font-size: 1.5rem;
    }

    .cabecalho h2 {
        font-size: 1.3rem;
    }

    .home-intro {
        height: auto;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .home-intro h2,
    .home-intro p {
        width: 100%;
        font-size: 1.2rem;
    }

    .sobre {
        flex-direction: column;
    }

    .container {
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
    }

    .mosaico-imagens {
        flex-direction: column;
    }

    .galeria-mosaico {
        width: 100%;
        padding: 1rem 0.5rem;
        gap: 0.5rem;
    }

    .galeria-mosaico img {
        object-fit: cover;
        width: 330px;
        height: 330px;
    }

    .mosaico {
        padding: 1rem;
        margin-top: 3rem;
    }

    .mosaico-item {
        min-width: 100%;
    }

    .mosaico-item p,
    ul,
    h3 {
        overflow: hidden;
        word-break: break-word;
        overflow-wrap: break-word;
        box-sizing: border-box;
        text-align: center;
    }

    .mosaico-item h2 {
        text-align: center;
        justify-self: center;
    }

    .contato-info {
        flex-direction: column;
        gap: 1rem;
    }

    .contato-info p,
    .contato-info a {
        font-size: 0.9rem;
        text-align: center;
    }
}